[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-api = "==1.0"
gunicorn = "==19.9.0"
flask-sqlalchemy = "*"
flask-migrate = "*"
"psycopg2" = "*"

[requires]
python_version = "3.7"

[dev-packages]
ipython = "*"
bpython = "*"
pytest = "*"
